* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #1d1d1d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 100px;
    position: relative;
}

.logo img {
    height: 25px;
    width: auto;
}

.nav-links a {
    color: #ffff;
    text-decoration: none;
    align-items: center
}

.nav-links {
    display: flex;
    gap: 30px;
}

.auth-cta button {
    padding: 8px 18px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    gap: 12px;
}

.cta-1 {
    background: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.cta-2 {
    background: white;
    color: #111;
    border: none;
}

#hero {
    margin-top: 120px;
    margin-left: 100px;
    max-width: 480;
}

.hero-section {
    color: #ffff;
    font-size: 1.625rem;
    font-weight: 450;
    line-height: 1.15;
    letter-spacing: -0.0125em;
}

.cta-primary {
    margin-top: 32px;
    margin-bottom: 50px;
    padding: 10px 18px;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 400;
    color: #111;
    background: #ffff;
    cursor: pointer;
    border: none;
    border-radius: 999;
}

.image-container {
    position: relative;
    margin-top: 40px;
}

.base-image {
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 16px;
    width: 90%;
    max-height: 680px;
    display: block;

}

.overlay-image {
    position: absolute;
    right: 750px;
    top: 20%;
    width: 650px;
    border-radius: 12px;
}

.overlay-image2 {
    position: absolute;
    right: 300px;
    top: 40%;
    right: 200px;
    border-radius: 12px;
}

.trusted {
    margin-top: 30px;
    padding: 60px 2px;
    text-align: center;
}

.trusted-text {
    color: #ffff;
    font-size: 14px;
    margin-bottom: 20px;
}

.logo-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.logo-card{
    background-color: #2a2a2a;
    padding: 20px 35px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-card img{
    max-height: 46px;
    opacity: 0.85;
    width: auto;
}
.base{
    justify-content: space-evenly;
    padding: 0px;
    margin-left: 100px;
    margin-right: 700px;
    border: none;
    border-radius: 4px;
    width: 85%;
    max-height: 850px;
    display: flex;
    background:#2a2a2a;
    align-items: center
}

.main-left {
    display: flex;
    flex-direction:column;
    text-align: center;
    color: white;
}
.base-image-2 {
    width: 900px;
    height: 750px;
    padding: 25px;
    background:red
}

.base-image-2 img{
    width: 800px;
    height: 700px;
}
